:root {
  /* font-size: 16px; */
  --bg: #21282a;
  --primary: #df5421;
  --secondary: #0a9797;
  --tertiary: #451ea1;
  --quaternary: #a0933b;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

/* body {
  color: var(--primary);
} */

body::-webkit-scrollbar {
  width: 0.13rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

section {
  padding: 60px;
}

/* HEADER */
/* header { */
/* position: fixed;
  padding: 0rem 25rem;
  display: flex;
  height: 5vh; */
/* } */

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/port-bg.png);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.main {
  color: var(--primary);
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: var(--secondary);
}

span:hover {
  color: var(--primary);
  transition: 0.4s;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1rem 4rem;
}

nav ul li a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: var(--tertiary);
  transition: 0.4s;
}
.lnk {
  background-color: var(--primary);
  color: var(--bg);
  text-decoration: none;
  border: 0.25rem solid transparent;
  font-weight: 700;
  padding: 0rem 1rem;
  border-radius: 1rem;
  transition: transform 0.4s;
}

.lnk:hover {
  background-color: var(--tertiary);
  color: var(--primary);
  transform: scaleX(1.5);
}

.about {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

h2 {
  color: var(--tertiary);
  letter-spacing: 0.7rem;
  font-size: 2rem;
  text-align: end;
}

h1 {
  color: var(--primary);
  margin: -1rem 0rem 1rem;
  font-size: 5rem;
  /* text-decoration: underline; */
}

h3 {
  color: var(--quaternary);
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.abt-info p {
  color: var(--secondary);
  width: 33rem;
  max-width: 100%;
  position: absolute;
  text-align: justify;
  letter-spacing: 0.2rem;
}

.abt-info p:hover {
  transform: transition 0.7s;
  color: var(--primary);
}

/* FOOTER */
footer {
  margin: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  /* box-shadow: 0.5rem 0 1.5rem hsl(15, 50%, 50%); */
}
