:root {
  --bg: #21282a;
  --primary: #df5421;
  --secondary: #0a9797;
  --tertiary: #451ea1;
  --quaternary: #a0933b;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
}

body::-webkit-scrollbar {
  width: 0.13rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

section {
  padding: 60px;
}

/* HEADER */
/* header { */
/* position: fixed;
  padding: 0rem 25rem;
  display: flex;
  height: 5vh; */
/* } */

/* HEADER SECTION */
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/port-bg.png);
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 3%;
  padding-right: 3%;
}

.main {
  color: var(--primary);
  font-size: 35px;
  letter-spacing: 1rem;
  cursor: pointer;
}

span {
  color: var(--secondary);
}

span:hover {
  color: var(--primary);
  transition: 0.4s;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 1rem 4rem;
}

nav ul li a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: var(--tertiary);
  transition: 0.4s;
}

.lnk {
  background-color: var(--primary);
  color: var(--bg);
  text-decoration: none;
  border: 0.25rem solid transparent;
  font-weight: 700;
  padding: 0rem 1rem;
  border-radius: 1rem;
  transition: transform 1200ms;
}

.lnk:hover {
  background-color: var(--tertiary);
  color: var(--primary);
  transform: scaleX(1.5);
  transition: 1200ms;
}

/* ABOUT ME SECTION */

.about {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.about h2:hover {
  background-color: var(--tertiary);
  color: var(--quaternary);
  border-radius: 1rem;
  transition: 1200ms;
  z-index: 9999;
}

h2 {
  color: var(--tertiary);
  letter-spacing: 0.7rem;
  font-size: 2rem;
  text-align: end;
}

h1 {
  color: var(--primary);
  margin: -1rem 0rem 1rem;
  font-size: 5rem;
  /* text-decoration: underline; */
}

h3 {
  color: var(--quaternary);
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}

h3:hover {
  background-color: var(--tertiary);
  color: var(--secondary);
  border-radius: 1rem;
  transition: 1200ms;
}

.abt-info p {
  color: var(--secondary);
  width: 43rem;
  max-width: 100%;
  position: absolute;
  text-align: justify;
  letter-spacing: 0.3rem;
}

.abt-info p:hover {
  transform: transition 0.7s;
  color: var(--primary);
}

/* PROJECT SECTION */

.project {
  position: absolute;
  top: 25%;
  /* bottom: -10%; */
  left: 75%;
  transform: translateY(200%);
}

.project h2 {
  text-align: center;
  /* left: 50%; */
}

.project h3 {
  text-align: justify;
  font-size: 2rem;
  width: 1000px;
  margin: 19px auto;
}

.project img {
  /* position: relative; */
  /* padding-top: 0%; */
  /* right: 12%; */
  /* display: flex; */
  object-fit: contain;
  /* width: 66.67%; */
  height: 40.67%;
  /* text-align: end; */
}

.prjct-ttl {
  border-radius: 20px;
  height: 651px;
  bottom: 410px;
  width: 1000px;
  background: var(--bg);
  position: relative;
  text-align: center;
}

/* .project h2 {
  position: absolute;
  top: 100%;
  left: 8%;
  transform: translateY(75%);
} */

/* .project-title h3 {
  margin-top: 1rem;
  font-size: 2.5rem;
  text-align: center;
} */

/* FOOTER */
footer {
  margin: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
}
