:root {
  --primary: #df5421;
  --secondary: #0a9797;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--secondary);
  color: var(--primary);
  /* background-image: url(../images/port-bg.png); */
}

section {
  padding: 60px;
}

header {
  background-image: url(../images/port-bg.png);
  background-size: inherit;
  background-position: 150%;
  background-attachment: fixed;
  padding: 30rem 61rem 27rem 11rem;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;

  /* opacity: 0.9; */
}

header h1 {
  font-weight: bold;
  font-size: 33px;
  /* color: var(--primary); */
  margin: 5px;
}

header a {
  color: var(--primary);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav {
  margin: 2rem;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  /* flex-direction: column; */
  list-style: none;
}

header nav ul li a {
  padding: 0rem 1.5rem;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 1rem hsl(50, 50%, 50%);
}

/* header nav ul li a:hover {
  display: flex;
  background: var(--primary);
  color: var(--secondary);
  border-radius: 1rem;
  text-shadow: none;
} */

.inbetween {
  padding: 35rem;
}

.hero-list {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  /* padding: 1.5rem; */
  border-radius: 16px;
  background: #21282a;
  box-shadow: -1rem 0 3rem #000;
}

.hero h2 {
  display: flex;
  justify-content: space-evenly;
}

.hero:hover {
  transform: translateY(-1rem);
}
